<div class="container theme-showcase" role="main">

    <div player-breadcrumb></div>

    <div no-player-found></div>

    <div player-details></div>

    <div player-teams></div>

    <div view-markers-overview  player-id="vm.playerId"></div>

    <div view-loadouts-overview player-id="vm.playerId"></div>

</div>

<div ui-view="modal"></div>

<script type="text/ng-template" id="editUser.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit user: {{user.Email}}</h3>
    </div>
    <div class="modal-body" stop-event="touchend">
        <form class="form-horizontal" ng-submit="ok()">
            <div class="form-group">
                <label class="col-lg-2 control-label">Call Sign</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" autofocus ng-model="user.Callsign" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="user.FirstName"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="user.LastName"  />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isLoading"><span ng-show="isLoading">Saving...</span><span ng-show="!isLoading">OK</span></button>
    </div>
</script>

<script type="text/ng-template" id="resetPassword.html">
    <div class="modal-header">
        <h3 class="modal-title">Reset Password For: {{user.Email}}</h3>
    </div>
    <div class="modal-body" stop-event="touchend">
        <form class="form-horizontal" ng-submit="ok()">
            <div class="form-group">
                <label class="col-lg-2 control-label">New Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" autofocus ng-model="password"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Retype</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" ng-model="retype"  />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="password == null || password != retype || isLoading"><span ng-show="isLoading">Saving...</span><span ng-show="!isLoading">OK</span></button>
    </div>
</script>