<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h2>Editing ranks for team: <b>{{ team.Name }}</b></h2>
    </div>

    <!--<div class="jumbotron" ng-show="!foundUser">-->
    <!--<h2></h2>-->
    <!--<alert type="danger"><i class="fa fa-exclamation-triangle"></i> User not found! <a ui-sref="home">Go Home</a></alert>-->
    <!--</div>-->

    <div class="row">
        <div class="">
            <div class="panel panel-default relative">
                <div class="panel-heading relative">
                    <h3 class="panel-title">All Ranks

                        <div class="text-right absolute right-10 block pointer" tooltip="Add Rank" ng-click="add()" style="margin-right:25px;">
                            <i class="fa fa-plus"></i>
                        </div>

                        <div class="text-right absolute right-10 block pointer" tooltip="Save Changes" ng-click="save()">
                            <i class="fa fa-floppy-o"></i>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <!--<caption>Optional table caption.</caption>-->
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Order</th>
                            <th>Rank Name</th>
                            <th># of Players</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="rank in ranks | orderBy:'Sequence'" id="{{rank.Id}}" ng-if="rank.CrudAction != 3">
                            <th scope="row" style="text-align:center">
                                <img ng-src="{{rank.ImageUrl}}" class="profile-image" style="margin-bottom:5px;">
                                <input type="text" class="form-control" ng-model="rank.ImageUrl" />
                            </th>
                            <td width="15%"><input type="number" min="0" class="form-control col-xs-2" ng-model="rank.Sequence"/></td>
                            <td>
                                <input type="text" class="form-control" ng-model="rank.Name" />
                            </td>
                            <td>
                                <b>0</b>
                            </td>
                            <td>
                                <i class="fa fa-times red bigger-1-5 pointer" tooltip="Delete" ng-click="rank.CrudAction = 3"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>