<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <script src="../../bower_components/oidc-token-manager/dist/oidc-token-manager.min.js"></script>
    <script>

        var config = {
            client_id: 'implicitlane',
            //redirect_uri: 'http://loonison-pc/pb.web/scripts/app/views/oidccallback.html',
            redirect_uri: 'http://localhost:63342/PB.Web/src/js/views/oidccallback.html',
            authority: 'http://localhost:25922/identity'
        };

        var mgr = new OidcTokenManager(config);

        mgr.processTokenCallbackAsync().then(function () {
            window.location = 'http://localhost:63342/PB.Web/src/index.html';
        }, function (error) {
            console.error(error);
        });

    </script>
</body>
</html>