<div class="row">
    <div class="col-md-8 col-xs-8" style="">
        <a href="#" ng-if="role.isMine(playerId)" editable-text="loadout.Name" style="margin-left:10px;" data-e-style="margin-left:10px;" onbeforesave="changeLoadoutName($data, loadout.Id)">{{loadout.Name || 'No Name'}}</a><div style="display:inline;margin-left:10px;" ng-if="!role.isMine(playerId)">{{loadout.Name}}</div> <span class="grey-date">({{loadout.Created | prettyDate}})</span>
    </div>
    <div class="col-md-4 col-xs-4" style="text-align:right;" ng-if="role.isMine(playerId)">
        <button class="btn btn-danger btn-xs" style="margin-right:10px;" ng-click="deleteLoadout(loadout)"><i class="fa fa-fw fa-close"></i> Delete</button>
    </div>
</div>