<div class="row">
    <div class="col-md-8 col-xs-8" style="">
        <a href="#" editable-text="loadout.Name" style="margin-left:10px;" data-e-style="margin-left:10px;" onbeforesave="changeLoadoutName($data, loadout.Id)">{{loadout.Name || 'No Name'}}</a> <span class="grey-date">({{prettyDate(loadout.Created)}})</span>
    </div>
    <div class="col-md-4 col-xs-4" style="text-align:right;">
        <button class="btn btn-danger btn-xs" style="margin-right:10px;" ng-click="deleteLoadout(loadout)"><i class="fa fa-fw fa-close"></i> Delete</button>
    </div>
</div>