<div class="col-md-8 col-xs-8" style="text-align:left;padding-top:3%;height:100px;white-space:nowrap;overflow-y:hidden;">

    <!--<div ng-if="editing" style="width:50px;height:50px;display:inline-block;vertical-align: top;margin-top:10px;margin-right:10px;">-->
    <div style="display:inline-block;vertical-align: top;margin-top:10px;margin-right:10px;">
        <button class="btn btn-primary" style="" ng-click="addGear()"><i class="fa fa-plus" style=""></i></button>
    </div>

    <div ng-repeat="gear in gears" style="display:inline-block;margin-right:10px;" ng-if="gear.Section == section">
        <div style="display:inline-block">
            <img ng-src="{{gear.ImageUrl}}" class="img-rounded" style="margin-right:5px;height:60px;width:60px;background:white;margin-top:-40px;"/>
            <div style="display:inline-block;">
                <div>{{gear.Name}} <span class="badge" title="Has {{gear.Quantity}}">{{gear.Quantity}}</span></div>
                <div ng-if="gear.Manufacturer">{{gear.Manufacturer}}</div>
                <div ng-if="!gear.Manufacturer" style="color:grey;"><i>None</i></div>
                <div>{{prettyDate(gear.Created)}}</div>
            </div>
        </div>
        <div style="display:inline-block;vertical-align:top;margin-left:5px;">
            <button class="btn btn-xs btn-primary" style="display:block;margin-bottom:5px;" ng-click="editGear(gear)"><span class="fa fa-pencil"></span></button>
            <button class="btn btn-xs btn-danger" style="display:block;" ng-click="removeGear(gear)"><span class="fa fa-close"></span></button>
        </div>
    </div>

    <div ng-if="!vm.doesAnyExist" style="font-size:1.5em;text-align:center;display:inline-block;height:75px;line-height:75px;">
        Nothing Here!
    </div>

    <script type="text/ng-template" id="addGear.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a piece of gear for your: {{vm.section}}</h3>
        </div>
        <div class="modal-body" stop-event="touchend">
            <form class="form-horizontal" name="form">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Name*</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" autofocus ng-model="vm.gear.Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Manufacturer</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"  ng-model="vm.gear.Manufacturer" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Image Url</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"  ng-model="vm.gear.ImageUrl" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Quantity</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control"  ng-model="vm.gear.Quantity" />
                    </div>
                </div>

            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()"><span ng-show="vm.isLoading">Saving...</span><span ng-show="!vm.isLoading">OK</span></button>
        </div>
    </script>

    <script type="text/ng-template" id="editGear.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit gear: {{vm.gear.Name}}</h3>
        </div>
        <div class="modal-body" stop-event="touchend">
            <form class="form-horizontal" name="form">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Name*</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" autofocus ng-model="vm.gear.Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Manufacturer</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"  ng-model="vm.gear.Manufacturer" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Image Url</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"  ng-model="vm.gear.ImageUrl" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Quantity</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control"  ng-model="vm.gear.Quantity" />
                    </div>
                </div>

            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()"><span ng-show="vm.isLoading">Saving...</span><span ng-show="!vm.isLoading">OK</span></button>
        </div>
    </script>

</div>