<div class="row" id="markers">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading relative">
                <h3 class="panel-title display-inline">Markers</h3>
                <div title="Add Team" class="pointer display-inline" style="margin: 0 10px;"  ng-if="role.isMine(playerId)">
                    <div add-marker markeradded="markeradded()" player-id="playerId"></div>
                </div>
            </div>
            <div class="panel-body">

                <div ng-if="!vm.isLoadingMarkers && vm.markers.length == 0">
                    You don't have any markers...
                </div>

                <div ng-repeat="marker in vm.markers">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img ng-if="marker.ImageUrl" ng-src="{{marker.ImageUrl}}" style="height:150px;width:300px;" class="responsive-image img-rounded" />
                            <div ng-if="!marker.ImageUrl" style="height:150px;width:300px;display:inline;font-size:5em;"><i class="fa fa-picture-o" style="font-size:1.4em;"></i></div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-4 text-right">Name: </div>
                                <div class="col-md-8 col-xs-8">{{marker.Name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 text-right">Manufacturer: </div>
                                <div class="col-md-8 col-xs-8">{{marker.Manufacturer}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 text-right">Created: </div>
                                <div class="col-md-8 col-xs-8">{{ marker.Created | prettyDate}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4"></div>
                                <div class="col-md-8 col-xs-8" style="margin-top:10px;" ng-if="role.isMine(playerId)">
                                    <div edit-marker marker="marker"></div>
                                    <div delete-marker markerid="marker.Id" markerdeleted="markerdeleted()"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <hr ng-if="!$last"/>

                </div>

                <div style="text-align:center; font-size:2em;">
                    <i class="fa fa-refresh fa-spin" ng-if="vm.isLoadingMarkers"></i>
                </div>
            </div>
        </div>
    </div>
</div>