<!DOCTYPE html>
<html lang="en" ng-app="pb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="pageTitle"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--build:css style.css-->
    <link rel="stylesheet" href="content/dark.bootstrap.min.css">
    <!--<link rel="stylesheet" href="content/slate.bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="content/yeti.bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="content/simplex.bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="content/flatly.bootstrap.min.css">-->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="content/sass/app.css">
    <!--endbuild-->

    <!--build:angular ang.js-->
    <script src="bower_components/angular/angular.min.js"></script>
    <!--endbuild-->

    <script src="js/views/templates.js"></script>

    <script>
        var HW_config = {
            selector: ".navbar-brand", // CSS selector where to inject the badge
            account: "K7gBXx" // your account ID
        };
    </script>
    <script async src="//cdn.headwayapp.co/widget.js"></script>
</head>

<body ng-cloak>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navigationCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="NavigationFactory.showNav = !NavigationFactory.showNav" ng-show="auth.isAuthenticated">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand relative" href="#" ui-sref="home">{{config.appName}} v{{version}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" uib-collapse="!NavigationFactory.showNav">
            <ul class="nav navbar-nav" ng-show="auth.isAuthenticated">
                <li ng-repeat="item in NavigationFactory.menuItems" ng-class="{'active': item.isActive}">
                    <a href="#" ui-sref="{{item.uiSrefName}}" ng-click="NavigationFactory.showNav = !NavigationFactory.showNav;NavigationFactory.setActive(item, navCollapsed);">{{item.name}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="auth.isAuthenticated">
                <li class="full-name relative"><a style="color: white;">[ Hi, {{auth.profile.username}}! ]</a></li>
                <li ng-if="role.isAdmin()"><a href="#" ui-sref="siteSettings" ng-click="NavigationFactory.showNav = !NavigationFactory.showNav;" title="Site Settings"><i class="fa fa-bolt fa-fw bigger-1-5 "></i><span class="mobile">Site Settings</span></a></li>
                <li><a href="#" ui-sref="userView({id: userId})" ng-click="NavigationFactory.showNav = !NavigationFactory.showNav;" title="Profile"><i class="fa fa-cog fa-fw bigger-1-5 "></i><span class="mobile">Settings</span></a></li>
                <li ng-if="!profile.expired"><a href="#" title="Sign Out" ng-click="logout()"><i class="fa fa-sign-out fa-fw bigger-1-5 "></i><span class="mobile">Sign Out</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div ui-view></div>




<!--build:js lib.js-->
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/Angular.uuid2/dist/angular-uuid2.min.js"></script>
<script src="bower_components/oidc-token-manager/dist/oidc-token-manager.min.js"></script>
<script src="js/libraries/pusher.min.js"></script>
<script src="bower_components/pusher-angular/lib/pusher-angular.min.js"></script>
<script src="bower_components/auth0-lock/build/auth0-lock.min.js"></script>
<script src="bower_components/auth0-angular/build/auth0-angular.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>

<script src="js/app.js"></script>
<script src="js/providers/versionPollerProvider.js"></script>
<script src="config/local/config.js"></script>
<script src="js/controllers/homeCtrl.js"></script>
<script src="js/controllers/navigationCtrl.js"></script>
<script src="js/controllers/siteSettingsCtrl.js"></script>
<script src="js/directives/addNotification.js"></script>
<script src="js/directives/autofocus.js"></script>
<script src="js/directives/deleteAllTeams.js"></script>
<script src="js/directives/stopEvent.js"></script>
<script src="js/rank/controllers/rankEditCtrl.js"></script>
<script src="js/rank/controllers/rankViewCtrl.js"></script>
<script src="js/rank/services/RankFactory.js"></script>
<script src="js/services/GearFactory.js"></script>
<script src="js/services/LoadoutFactory.js"></script>
<script src="js/services/MarkerFactory.js"></script>
<script src="js/services/NavigationFactory.js"></script>
<script src="js/services/NotificationFactory.js"></script>
<script src="js/services/OidcManager.js"></script>
<script src="js/services/tokenContainer.js"></script>
<script src="js/team/controllers/teamCtrl.js"></script>
<script src="js/team/controllers/teamsCtrl.js"></script>
<script src="js/team/services/TeamFactory.js"></script>
<script src="js/user/controllers/playersCtrl.js"></script>
<script src="js/user/controllers/userEditCtrl.js"></script>
<script src="js/user/controllers/userViewChangeRankCtrl.js"></script>
<script src="js/user/controllers/userViewCtrl.js"></script>
<script src="js/user/controllers/userViewDeleteTeamCtrl.js"></script>
<script src="js/user/directives/viewLoadoutsOverview.js"></script>
<script src="js/user/directives/viewMarkersOverview.js"></script>
<script src="js/user/services/UserFactory.js"></script>
<script src="js/services/ImageFactory.js"></script>
<script src="js/services/titleFactory.js"></script>
<script src="js/filters/prettyDate.js"></script>
<script src="js/user/directives/noPlayerFound.js"></script>
<script src="js/user/directives/playerBreadcrumb.js"></script>
<script src="js/user/directives/playerDetails.js"></script>
<script src="js/user/directives/playerTeams.js"></script>
<script src="js/services/RoleFactory.js"></script>
<script src="js/directives/deleteAllNotifications.js"></script>
<!--endbuild-->



</body>
</html>
